
body {
  background-color: rgb(181, 236, 156);
}

#headPic {
  display: block;
  margin: 0px auto;
}

a:hover {
  background-color: rgb(70, 20, 2);
  color: blanchedalmond;
  border-radius: 5px;
}

h1:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

h2:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

img:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

h1 {
  text-align: center;
  color: rgb(233, 233, 166);
  background-color:black;
  border: 5px dotted rgb(233, 233, 166);
  border-radius: 20px;
  box-shadow: 4px 4px 14px #111111;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
  height: 275px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(233, 233, 166);
  box-shadow: 4px 4px 14px #111111;
}

h2 {
  text-align: center;
}

figure {
  float: right;
}

figcaption {
  box-shadow: 4px 4px 14px #111111;
  border-radius: 10px;
  text-align: center;
}

img {
  box-shadow: 4px 4px 14px #111111;
  border-radius: 10px;
}

#bio {
  background-color:rgb(240, 90, 90);
  width: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px #111111;
}

#edu {
  background-color:rgb(240, 90, 90);
  width: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px #111111;
}

#job {
  background-color:rgb(240, 90, 90);
  width: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px #111111;
}

#goals {
  background-color:rgb(240, 90, 90);
  width: 290px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px #111111;
}

#topten {
  background-color:rgb(240, 90, 90);
  width: 325px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px #111111;
}

footer {
  text-align: center;
  position: sticky; bottom: 0;
  background-color:beige;
}